beautifulsoup4==4.12.3
browser==66.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.6
pyfiglet==1.0.2
pyjokes==0.6.0
requests==2.31.0
sockets==1.0.0
soupsieve==2.5
threaded==4.2.0
urllib3==2.2.0
wikipedia==1.4.0